<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Endfoos Foosilator</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>
    <div class="header">
      <h1><a href="/">Endfoos Foosilator</a></h1>
    </div>
    <div class="full-width-wrapper">
      <div class="navigation">
        <ul>
          <li>
            <label>Switch league:
            <select onchange="window.location=this.value">
              {{#unless currentPage}}<option disabled selected value></option>{{/unless}}
              {{#each activeLeagues}}
                <option value="/{{this.short_name}}{{#if ../currentPage}}{{../currentPage}}{{else}}/games{{/if}}" {{#if this.isCurrentLeague}}disabled selected{{/if}}>{{this.name}}</option>
              {{/each}}
            </select>
          </li>
          {{#if currentLeague}}
            <li><a href="/{{currentLeague}}/games">Games played</a></li>
            <li><a href="/{{currentLeague}}/rankings">Rankings</a></li>
          {{/if}}
          <li><a href="/players">Manage players</a></li>
          <li><a href="/leagues">Manage leagues</a></li>
        </ul>
      </div>
      <div class="content">
