{{> header}}
<section>
  <h1>Score a game</h1>
  <form action="games" method="post">
    <input type="hidden" value="{{league.id}}" name="leagueId">
    <div class="form-field">
      <label for="winnerId">Winner</label>
      <select name="winnerId" id="winnerId">
        <option disabled value>Please select&hellip;</option>
        {{#each players}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <label class="hide-tablet-up">Score</label>
    <div class="form-field multiple-fields no-label">
      <span class="field-text left">8 &nbsp;&nbsp;-</span>
      <select name="loserScore">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
    </div>
    <div class="form-field">
      <label for="loserId">Loser</label>
      <select name="loserId" id="loserId">
        <option disabled selected value>Please select&hellip;</option>
        {{#each players}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-field no-label">
      <input type="submit" value="Score it" />
    </div>
  </form>
</section>
<section>
  <h1>Latest games</h1>
  <div class="table-wrap">
    <table>
      <thead>
        <tr>
          <th>Winner</th>
          <th>Loser</th>
          <th>Score</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each latestGames}}
          <tr>
            <td>{{this.winner_name}}</td>
            <td>{{this.loser_name}}</td>
            <td>{{this.winner_score}} - {{this.loser_score}}</td>
            <td class="align-right">
              {{#if @first}}
                <form method="post" action="/{{../currentLeague}}/games/{{this.id}}/delete" class="align-right">
                  <input type="submit" value="Delete" class="link-style">
                </form>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
{{> footer}}
