{{> header}}
<section>
  <div class="heading-cols margin-btm-20">
    <h1 class="heading-left">Update {{league.name}}</h1>
    <a href="/leagues" class="heading-right button">Back</a>
  </div>
  <form method="post" action="/leagues/{{league.id}}">
    <div class="form-field">
      <label for="league-name">Name</label>
      <input type="text" name="name" value="{{league.name}}" id="league-name">
    </div>
    <div class="form-field">
      <label for="league-short-name">Short Name (used in URLs):</label>
      <input type="text" name="shortName" value="{{league.short_name}}" id="league-short-name">
    </div>
    <div class="form-field">
      <label for="maxScoreField">Max Score</label>
      <select name="maxScore" id="maxScoreField">
        {{numberOptions 1 21 league.max_score}}
      </select>
    </div>
    <div class="form-field no-label">
      <input type="submit" value="Update League">
    </div>
  </form>
</section>
<section>
  <h1>Reset League</h1>
  <p>Warning - this will remove all played games and reset all players Elo rankings. <strong>There is no undo.</strong></p>
  <br>
  <p>Enter league's short name (from the URLs) to continue...</p>
  <form method="post" action="/leagues/{{league.id}}/reset">
    <div class="form-field no-label">
      <input type="text" name="shortName">
    </div>
    <div class="form-field no-label">
      <input type="submit" value="Reset League">
    </div>
  </form>
</section>
{{> footer}}
