{{> header}}
<section>
  <div class="heading-cols margin-btm-20">
    <h1 class="heading-left">Update {{league.name}}</h1>
    <a href="/leagues" class="heading-right button">Back</a>
  </div>
  <form method="post" action="/leagues/{{league.id}}">
    <div class="form-field">
      <label for="league-name">Name</label>
      <input type="text" name="name" value="{{league.name}}" id="league-name">
    </div>
    <div class="form-field">
      <label for="league-short-name">Short Name (used in URLs):</label>
      <input type="text" name="shortName" value="{{league.short_name}}" id="league-short-name">
    </div>
    <div class="form-field">
      <label for="maxScoreField">Max Score</label>
      <select name="maxScore" id="maxScoreField">
        {{numberOptions 1 21 league.max_score}}
      </select>
    </div>
    <div class="form-field no-label">
      <input type="submit" value="Update League">
    </div>
  </form>
</section>
<section>
  <h1>{{#if league.has_password}}Change or Remove Password{{else}}Add Password{{/if}}</h1>
  <form method="post" action="/leagues/{{league.id}}/password">
    {{#if league.has_password}}
      <div class="form-field">
        <label for="currentPasswordField">Current Password</label>
        <input type="password" name="currentPassword" id="currentPasswordField">
      </div>
      <div class="form-field">
        <input type="radio" name="removePassword" value="true" id="removePasswordTrueField"><label for="removePasswordTrueField">Remove Password</label>
        <input type="radio" name="removePassword" value="false" id="removePasswordFalseField" checked><label for="removePasswordFalseField">Change Password</label>
      </div>
    {{/if}}
    <div class="form-field">
      <label for="newPasswordField">New Password</label>
      <input type="password" name="newPassword" id="newPasswordField">
    </div>
    <div class="form-field">
      <label for="newPasswordConfirmField">Confirm New Password</label>
      <input type="password" name="newPasswordConfirm" id="newPasswordConfirmField">
    </div>
    <div class="form-field no-label">
      <input type="submit" value="{{#if league.has_password}}Update{{else}}Add{{/if}} Password">
    </div>
  </form>
</section>
<section>
  <h1>Transfer League Ownership</h1>
  <div class="form-field">
    <label for="userSearchTypeahead">Select a user to transfer this league to:</label>
    <input id="userSearchTypeahead" class="typeahead" type="text" placeholder="Name or Email">
  </div>
  <br>
  <form id="transferOwnershipForm" method="post" action="/leagues/{{league.id}}/owner">
    <input id="transferOwnershipOwnerId" type="hidden" name="ownerId">
    <div class="form-field no-label">
      <input id="transferOwnershipSubmit" type="submit" value="">
    </div>
  </form>
</section>
<section>
  <h1>Reset League</h1>
  <p>Warning - this will remove all played games and reset all players Elo rankings. <strong>There is no undo.</strong></p>
  <br>
  <p>Enter league's short name (from the URLs) to continue...</p>
  <form method="post" action="/leagues/{{league.id}}/reset">
    <div class="form-field no-label">
      <input type="text" name="shortName">
    </div>
    <div class="form-field no-label">
      <input type="submit" value="Reset League">
    </div>
  </form>
</section>
<script src="/scripts/typeahead.bundle.0.11.1.min.js"></script>
<script>
var $ownershpForm = $('#transferOwnershipForm');
$ownershpForm.hide();

var userSource = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  identify: function (obj) { return obj.id },
  remote: {
    url: '/users/search?q=%QUERY',
    wildcard: '%QUERY'
  }
});

$userSearchField = $('#userSearchTypeahead');

$userSearchField.typeahead(null, {
  name: 'user-search',
  display: 'name',
    templates: {suggestion: function (obj) {
      var sug = '<div><strong>' + obj.name + '</strong>';
      if (obj.email) {
        sug += ' (' + obj.email + ')';
      }
      sug += '</div>';
      return sug;
    }
  },
  source: userSource
});

$userSearchField.on('typeahead:select typeahead:autocomplete', function (e, obj) {
  $('#transferOwnershipOwnerId').val(obj.id);
  $('#transferOwnershipSubmit').val('Transfer To ' + obj.name);
  $('#transferOwnershipForm').show();
});
</script>
{{> footer}}
