{{> header}}
<section>
  <h1>Create League</h1>
  <form method="post" action="/leagues">
    <div class="form-field">
      <label for="nameField">Name</label>
      <input type="text" name="name" id="nameField">
    </div>
    <div class="form-field">
      <label for="shortNameField">Short Name (used in urls)</label>
      <input type="text" name="shortName" id="shortNameField">
    </div>
    <div class="form-field">
      <label for="maxScoreField">Max Score</label>
      <select name="maxScore" id="maxScoreField">
        {{numberOptions 1 21 10}}
      </select>
    </div>
    <div class="form-field">
      <label for="leaguePasswordField">League Password</label>
      <input type="password" name="leaguePassword" id="leaguePasswordField">
    </div>
    <div class="form-field no-label">
      <input type="submit" value="Add League">
    </div>
  </form>
</section>
<section>
  <h1>Leagues</h1>
  <div class="table-wrap">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Short Name</th>
          <th>Max Score</th>
          <th>Date Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each leagues}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.short_name}}</td>
            <td>{{this.max_score}}</td>
            <td>{{formatDate this.created_at}}</td>
            <td class="align-right">
              <a href="/leagues/{{this.id}}" class="margin-right-15">Update</a>
              <form method="post" action="/leagues/{{this.id}}/deactivate" class="table-form">
                <input type="submit" value="Deactivate">
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
{{#if inactiveLeagues}}
  <section>
    <h1>Inactive Leagues</h1>
    <div class="table-wrap">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Short Name</th>
            <th>Max Score</th>
            <th>Date Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each inactiveLeagues}}
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.name}}</td>
              <td>{{this.short_name}}</td>
              <td>{{this.max_score}}</td>
              <td>{{formatDate this.created_at}}</td>
              <td class="align-right">
                <a href="/leagues/{{this.id}}" class="margin-right-15">Update</a>
                <form method="post" action="/leagues/{{this.id}}/reactivate" class="table-form">
                  <input type="submit" value="Activate">
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
{{/if}}
{{> footer}}
