{{> header}}
<section>
  <div class="heading-cols margin-btm-20">
    <h1 class="heading-left">Update Player Details</h1>
    <a href="/{{currentLeague.short_name}}/players" class="button heading-right">Back</a>
  </div>
  <form method="post" action="/{{currentLeague.short_name}}/players/{{player.id}}">
    <div class="form-field">
      <label for="nameField">Name</label>
      <input type="text" name="name" id="nameField" value="{{player.name}}">
    </div>
    <div class="form-field color-field">
      <label for="colorField">Color</label>
      <input type="text" name="color" id="colorField" value="{{player.color}}">
      <span class="player-color" style="background-color: #{{player.color}}"></span>
    </div>
    <div class="form-field no-label">
      <input type="submit" value="Update Player">
    </div>
  </form>
</section>
{{> footer}}
