{{> header}}
<h2>Rankings</h2>
<table>
  <thead>
    <tr>
      <th>Player rank</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Total games played</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {{#each players}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.games_won}}</td>
        <td>{{this.games_lost}}</td>
        <td>{{this.total_games}}</td>
        <td>{{this.points}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{> footer}}
